<div id="body" [ngStyle]="{'background-image': baseurl + scuola.Sfondo.data.attributes.url}">
    <div id="top">   
        <img id="logo" src={{baseurl}}{{scuola.Logo.data.attributes.url}}" alt=""/>
        <p id="name">{{scuola.Name}}</p>
        <img id="map" [routerLink]="['']" src="/assets/maps.png" alt="">
    </div>
    <div id="video" > 
        <video src="{{baseurl}}{{scuola.Video.data.attributes.url}}" autoplay></video>
    </div>
    <div id="info">
        <div class="section">
            <img src="location.png" alt="">
            <div class="text">
                <h1>INDIRIZZO:</h1>
            <p>{{scuola.Address}} {{scuola.CAP}} {{scuola.City}} {{scuola.Province}}</p>
            </div>
        </div>
        <div class="section">
            <img src="direction.png" alt="">
            <div class="text">
                <h1>PERCORSO FORMATIVO:</h1>
            <p>esempio di percorso</p>
            
            </div>
        </div>
        <div class="section">
            <img src="phone-call.png" alt="">
            <div class="text">
                <h1>CONTATTI:</h1>
            <p>Telefono: <a href="tel:{{scuola.Phone}}">{{scuola.Phone}}</a></p>
            <p>Fax: <a href="tel:{{scuola.Fax}}">{{scuola.Fax}}</a></p>
            <p>Mail: <a href="mailto:{{scuola.Email}}">{{scuola.Email}}</a></p>
        <a href="{{scuola.Website}}">{{scuola.Website}}</a>
            </div>
            
            
        </div>
</div>
