<div class="container-fluid">
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <h4>titolo1</h4>
                <ul>
                    <li>prima</li>
                    <li>seconda</li>
                    <li>terza</li>
                </ul>
            </div>
            <div class="col">
                <h4>titolo2</h4>
                <ul>
                    <li>prima</li>
                    <li>seconda</li>
                    <li>terza</li>
                </ul>
            </div>
            <div class="col">
                <h4>titolo3</h4>
                <ul>
                    <li>prima</li>
                    <li>seconda</li>
                    <li>terza</li>
                </ul>
            </div>
        </div>
    </div>
</div>