<h6>Open days:</h6>
<div class="all" [ngStyle]="{'--bgcolor': color}">
	<div class="timeline">
		@if(ce){
			<div id="timeline">
				<div id="point-container">
					@for(oD of openDays.data; track oD.id){
					<div class="point" title="{{oD.attributes.Note}}">
						<span class="point-text">{{dataInv(oD.attributes.Date)}}
							<br>
							ore: {{oD.attributes.StartTime.substring(0,5)}} - {{oD.attributes.EndTime.substring(0,5)}}
						</span>
					</div>
					}
				</div>
			</div>
		} @else{
			<p>Non sono presenti date per gli open days</p>
		}
	</div>
</div>