<div id="timeline">
  <div id="point-container">
    <div class="point">
    <span class="point-text">20 Settembre <br>ore: 10:20- 18:20</span>
  </div>
  <div class="point">
  <span class="point-text">20 Settembre <br>ore: 10:20- 18:20</br></span>
  </div>
  <div class="point"><span class="point-text">20 Settembre <br>ore: 10:20- 18:20</br></span>
  </div>
  <div class="point"><span class="point-text">20 Settembre <br>ore: 10:20- 18:20</br></span>
  </div>
<div class="point"><span class="point-text">20 Settembre <br>ore: 10:20- 18:20</br></span>
  </div>
<div class="point"><span class="point-text">20 Settembre <br>ore: 10:20- 18:20</br></span>
  </div>
  </div>
  

</div>

