<div class="pin" #pin [ngStyle]="{'top.px': top, 'left.px': left, '--bg-card': scuola.colore}">
  <div class="info">
    <div style="width:100%; display:inline-flex; justify-content: end;">
      <img style="width:20%;" src="/assets/pulsante.png" [routerLink]="['/dettagli', id]" class="button"/>
    </div>
    <div class="logo" [ngStyle]="{'background-image': UrlLogo}">
    </div>
    <div class="title">
      <span>{{scuola.Name}}</span>
    </div>
    <div class="size">
      <span>
        <ul>
          @for(indirizzo of scuola.paths.data; track indirizzo.id){
            <li>{{indirizzo.attributes.Name}}</li>
          }
        </ul>
      </span>
    </div>
    
  </div>
</div>